body {
    width: 960px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  #contenido-principal {
    display: flex;
  }
  
  .columna-izquierda {
    width: 650px;
    float: right;
  }
  
  .columna-derecha {
    width: 260px;
    float: left;
    margin-left: 3em;
}
  
.columnas {
    columns: 3;
  }
  